input {
    font-size: 1.3rem;
    width: 25%;
    display: block;
    margin: 0 auto;
    outline: none;
    color: gray;
  }
  
  hr {
    width: 25%;
    display: block;
    margin: 10px auto;
    text-align: left;
  }
  
  .text-title {
    text-align: start;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 0px 50px;
  }
  
  .card-grid {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-bottom: 1px solid gray;
    border-radius: 6px;
    overflow: hidden;
    width: 300px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    margin: 2rem;
  }
  
  .card p {
    text-align: left;
    text-transform: capitalize;
    padding: 10px;
    font-size: 1rem;
  }
  
  .card img {
    max-height: 280px;
  }

  .maingit {
    padding: 50px
  }
  
@media screen and (max-width: 500px) {
    .card img{
     width: 300px;
    }
    .card p{
      max-width: 500px;
      overflow: scroll;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .text-title {
      text-align: center;
    }
    input,
    hr {
      width: 80%;
      margin-top: 20px;
    }
    .maingit {
      text-align: center;
    }
  }
  